services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.staging
    restart: always
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data_staging:/var/lib/postgresql/data/
    env_file:
      - .env.staging
    restart: always

  redis:
    image: redis:7-alpine
    restart: always

  nginx:
    build: ./nginx
    ports:
      - "9010:80"
    depends_on:
      - api
    restart: always

volumes:
  postgres_data_staging: