services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: always
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  matching_service:
    build: .
    command: python -m src.run_matching_service
    env_file: .env
    depends_on:
      - redis
      - api
    restart: always

  frontend:
    build: ./taxi-frontend
    restart: always

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - api
      - frontend
    restart: always

volumes:
  postgres_data: